body {
  background: url("./img/background.png") repeat;
  padding: 1em;
  padding-bottom: 1em;
}

.box, .box-wide {
  margin: 0 auto;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  font-family: "Tahoma", sans-serif;
  font-size: 1em;
  max-width: 800px;
  color: white;
  background-color: rgb(0 0 0 / 75%);
}

.box-wide {
  max-width: 1024px;
}

p, li, th, td {
  line-height: 140%;
}

.closer {
  line-height: 50%;
}

li.closer {
  line-height: 120%;
}

a {
  color: #99ff99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  padding: 2px 6px 4px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-weight: bold;
}

pre {
  font-size: 1em;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 1.0);
  font-family: "Courier New", monospace;
  border-radius: 3px;
  user-select: all;
  line-height: 1.3;
}

u.dir, code {
  font-size: 1em;
  padding: 2px 3px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 2px;
  font-family: "Courier New", monospace;
}

u.dir, u.warn, u.error {
  text-decoration: none;
}

u.warn {
  font-weight: bold;
  color: #ffd556;
}

u.error {
  font-weight: bold;
  color: #c22c2c;
}

blockquote {
  font-style: italic;
}

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: rgba(255, 255, 255, .15);
  font-size: 0.93em;
}

td,th {
  border: 1px solid rgba(255, 255, 255, .30);
  padding: 4px 8px;
}

td.has-table > table {
  margin-bottom: 0;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

img {
  margin: 20px auto;
  max-width: 800px;
  display: block;
}

ul li {
  margin: 4px 0;
}

hr {
  background: rgba(255, 255, 255, .3);
  height: 1px;
  border: none;
  margin: 2em 0;
}

h1, h2, h3, h4 {
  color: #9999ff;
}

.menu {
  font-family: "Tahoma", sans-serif;
  color: white;
  position: fixed;
  left: 0px;
  top: 0px;
}

.menu li {
  list-style-type: none;
}

.menu:hover .menu-title {
  background-color: color-mix(in srgb, black, #99ff99 17%);
  transition: background-color 0.12s ease-out;
}

.menu:hover .menu-items {
  display: block;
}

.menu-items li:hover {
  background-color: color-mix(in srgb, transparent, #99ff99 17%);
  transition: background-color 0.12s ease-out;
}

.menu-items a {
  text-decoration: none;
}

.menu-title, .menu-items, .submenu-items {
  background-color: rgba(0, 0, 0, .95);
  padding: 0px;
  transition: background-color 0.12s ease-in;
}

.menu-items > li, .submenu-items > li {
  margin: 0px;
}

.menu-items > li > a, .submenu-items > li > a, .submenu-title {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  transition: background-color 0.12s ease-in;
}

.menu-title {
  fill: white;
  padding: 10px 10px;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, .30);
  width: inherit;
}

.menu-items {
  position: relative;
  display: none;
  margin-top: -4px;
  font-size: 0.8em;
  border: 1px solid rgba(255, 255, 255, .30);
  color: white;
}

.submenu-title {
  position: relative;
}

.submenu-title::after {
  content: "\25B8";
  margin-left: 5px;
  vertical-align: -1px;
  margin-right: 0px;
  float: right;
}

.submenu-title:has(> a) {
  color: #99ff99;
}

.submenu-items {
  position: absolute;
  display: none;
  left: 100%;
  top: -1px;
  margin: 0px;
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, .30);
}

.submenu-title:hover .submenu-items {
  display: block;
}

.submenu-items a {
  white-space: nowrap;
}

