body {
  background: url("./img/background.png") repeat;
  padding: 1em;
  padding-bottom: 1em;
}

.box, .box-wide {
  margin: 0 auto;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  font-family: "Tahoma", sans-serif;
  font-size: 1em;
  max-width: 800px;
  color: white;
  background-color: rgb(0 0 0 / 75%);
}

.box-wide {
  max-width: 1024px;
}

p, li, th, td {
  line-height: 140%;
}

a {
  color: #99ff99;
}

pre {
  font-size: 1em;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 1.0);
  font-family: "Courier New", monospace;
  bold: true;
  border-radius: 3px;
  user-select: all;
  line-height: 1.3;
}

u.dir, code {
  font-size: 1em;
  padding: 2px 3px;
  background: rgba(255, 255, 255, 0.10);
  border-radius: 2px;
  font-family: "Courier New", monospace;
}

u.dir, u.warn, u.error {
  text-decoration: none;
}

u.warn {
  font-weight: bold;
  color: #ffd556;
}

u.error {
  font-weight: bold;
  color: #c22c2c;
}

blockquote {
  font-style: italic;
}

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: rgba(255, 255, 255, .15);
  font-size: 0.93em;
}

td,th {
  border: 1px solid rgba(255, 255, 255, .30);
  padding: 4px 8px;
}

td.has-table > table {
  margin-bottom: 0;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

img {
  margin: 20px auto;
  max-width: 800px;
  display: block;
}

ul li {
  margin: 4px 0;
}

hr {
  background: rgba(255, 255, 255, .3);
  height: 1px;
  border: none;
  margin: 2em 0;
}

h1, h2, h3, h4 {
  color: #9999ff;
}
