name: Create Zip on Release

on:
  release:
    types: [published]

jobs:
  build-zip:
    name: Build Release Zip
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Define Exclusions and Create Zip
      run: |
        # rsync exclusions
        EXCLUDES=(
          ".git*"
          "README.md"
          "docs/_template.html"
          "screenshots"
        )

        # Create args for rsync
        EXCLUDE_ARGS=""
        for item in "${EXCLUDES[@]}"; do
          EXCLUDE_ARGS+="--exclude=${item} "
        done

        # Create zip with rsync
        mkdir out
        rsync -av --progress ./ ./out/ ${EXCLUDE_ARGS} --exclude=out
        (
          cd out || exit 1
          zip -r ../retry-system_${{ github.event.release.tag_name }}.zip .
          cd ..
        )

        # Clean up
        rm -rf ./out

    - name: Install GitHub CLI
      run: |
        sudo apt-get install -y gh

    - name: Upload Release Asset
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release upload ${{ github.event.release.tag_name }} retry-system_${{ github.event.release.tag_name }}.zip
